@{
    var year = DateTime.Now.Year;
}

<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
        <div class="row align-items-center">
            <div class="col-12 col-lg-auto">
                <small id="footerContent" class="text-muted">
                    &copy; @year All Right Reserved.
                </small>
            </div>
        </div>
    </div>
</footer>