@page
@{
    ViewData["Title"] = "Movement Report List";
}

<div id="app" v-cloak>
    <div class="card">
        <div class="grid-container">
            <div ref="mainGridRef"></div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/FrontEnd/Pages/MovementReports/MovementReportList.cshtml.js"></script>
}