@page
@{
    ViewData["Title"] = "Customer List";
}

<div id="app" v-cloak>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Customers</h3>
            <div class="card-options d-flex gap-2">
                <button type="button" class="btn btn-primary btn-sm" v-on:click="handler.openAdd" title="Add">
                    <i class="ti ti-plus me-1"></i>Add
                </button>
                <button type="button" class="btn btn-secondary btn-sm" v-bind:disabled="!state.hasSelection" v-on:click="handler.openEdit" title="Edit">
                    <i class="ti ti-pencil me-1"></i>Edit
                </button>
                <button type="button" class="btn btn-danger btn-sm" v-bind:disabled="!state.hasSelection" v-on:click="handler.openDelete" title="Delete">
                    <i class="ti ti-trash me-1"></i>Delete
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm" v-bind:disabled="!state.hasSelection" v-on:click="handler.openManageContact" title="Manage Contact">
                    <i class="ti ti-address-book me-1"></i>Manage Contact
                </button>
                <button type="button" class="btn btn-outline-secondary btn-sm" v-on:click="handler.exportExcel" title="Export to Excel">
                    <i class="ti ti-file-spreadsheet"></i>
                </button>
            </div>
        </div>
        <div class="table-responsive px-3 pt-2 pb-3">
            <table id="mainGrid" class="table table-vcenter table-hover card-table"></table>
        </div>
    </div>

    <div class="modal fade" ref="mainModalRef" id="MainModal" tabindex="-1" aria-hidden="true" data-bs-focus="false" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-text="state.mainTitle"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" v-model="state.id" id="Id" name="Id" />
                    <form id="MainForm">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h5>Main Info</h5>
                            </div>
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <label for="Name">Name</label>
                                        <input ref="nameRef" v-model="state.name" class="form-control" placeholder="" />
                                        <label class="text-danger" v-text="state.errors.name"></label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Number">Number</label>
                                        <input ref="numberRef" v-model="state.number" class="form-control" placeholder="" readonly />
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <label for="CustomerGroupId">Customer Group</label>
                                        <div ref="customerGroupIdRef"></div>
                                        <label class="text-danger" v-text="state.errors.customerGroupId"></label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="CustomerCategoryId">Customer Category</label>
                                        <div ref="customerCategoryIdRef"></div>
                                        <label class="text-danger" v-text="state.errors.customerCategoryId"></label>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <label for="Description">Description</label>
                                        <textarea v-model="state.description" class="form-control" rows="3" placeholder=""></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header">
                                <h5>Address</h5>
                            </div>
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <label for="Street">Street</label>
                                        <input ref="streetRef" v-model="state.street" class="form-control" placeholder="" />
                                        <label class="text-danger" v-text="state.errors.street"></label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="City">City</label>
                                        <input ref="cityRef" v-model="state.city" class="form-control" placeholder="" />
                                        <label class="text-danger" v-text="state.errors.city"></label>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <label for="State">State</label>
                                        <input ref="stateRef" v-model="state.state" class="form-control" placeholder="" />
                                        <label class="text-danger" v-text="state.errors.state"></label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="ZipCode">Zip Code</label>
                                        <input ref="zipCodeRef" v-model="state.zipCode" class="form-control" placeholder="" />
                                        <label class="text-danger" v-text="state.errors.zipCode"></label>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <label for="Country">Country</label>
                                        <input ref="countryRef" v-model="state.country" class="form-control" placeholder="" />
                                        <label class="text-danger" v-text="state.errors.country"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header">
                                <h5>Communication</h5>
                            </div>
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <label for="PhoneNumber">Phone Number</label>
                                        <input ref="phoneNumberRef" v-model="state.phoneNumber" class="form-control" placeholder="" />
                                        <label class="text-danger" v-text="state.errors.phoneNumber"></label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="FaxNumber">Fax Number</label>
                                        <input ref="faxNumberRef" v-model="state.faxNumber" class="form-control" placeholder="" />
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <label for="EmailAddress">Email</label>
                                        <input ref="emailAddressRef" v-model="state.emailAddress" class="form-control" placeholder="" />
                                        <label class="text-danger" v-text="state.errors.emailAddress"></label>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Website">Website</label>
                                        <input ref="websiteRef" v-model="state.website" class="form-control" placeholder="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header">
                                <h5>Social Media</h5>
                            </div>
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-md-4">
                                        <label for="WhatsApp">WhatsApp</label>
                                        <input ref="whatsAppRef" v-model="state.whatsApp" class="form-control" placeholder="" />
                                    </div>
                                    <div class="col-md-4">
                                        <label for="LinkedIn">LinkedIn</label>
                                        <input ref="linkedInRef" v-model="state.linkedIn" class="form-control" placeholder="" />
                                    </div>
                                    <div class="col-md-4">
                                        <label for="Facebook">Facebook</label>
                                        <input ref="facebookRef" v-model="state.facebook" class="form-control" placeholder="" />
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-4">
                                        <label for="Instagram">Instagram</label>
                                        <input ref="instagramRef" v-model="state.instagram" class="form-control" placeholder="" />
                                    </div>
                                    <div class="col-md-4">
                                        <label for="TwitterX">Twitter/X</label>
                                        <input ref="twitterXRef" v-model="state.twitterX" class="form-control" placeholder="" />
                                    </div>
                                    <div class="col-md-4">
                                        <label for="TikTok">TikTok</label>
                                        <input ref="tikTokRef" v-model="state.tikTok" class="form-control" placeholder="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button"
                            id="MainSaveButton"
                            class="btn"
                            v-bind:class="state.deleteMode ? 'btn-danger' : 'btn-primary'"
                            v-on:click="handler.handleSubmit"
                            v-bind:disabled="state.isSubmitting">
                        <span class="spinner-border spinner-border-sm me-2" v-if="state.isSubmitting" role="status" aria-hidden="true"></span>
                        <span v-if="!state.isSubmitting">{{ state.deleteMode ? 'Delete' : 'Save' }}</span>
                        <span v-else>{{ state.deleteMode ? 'Deleting...' : 'Saving...' }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" ref="manageContactModalRef" id="ManageContactModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-text="state.manageContactTitle"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Customer Contact</h5>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex gap-2 mb-2">
                                        <button type="button" class="btn btn-primary btn-sm" v-on:click="handler.openAddContact" title="Add"><i class="ti ti-plus me-1"></i>Add</button>
                                        <button type="button" class="btn btn-secondary btn-sm" v-bind:disabled="!state.hasContactSelection" v-on:click="handler.openEditContact" title="Edit"><i class="ti ti-pencil me-1"></i>Edit</button>
                                        <button type="button" class="btn btn-danger btn-sm" v-bind:disabled="!state.hasContactSelection" v-on:click="handler.openDeleteContact" title="Delete"><i class="ti ti-trash me-1"></i>Delete</button>
                                    </div>
                                    <div class="table-responsive">
                                        <table id="secondaryGrid" class="table table-vcenter table-hover card-table"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" ref="contactModalRef" id="ContactModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-text="state.contactTitle"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-2">
                        <div class="col-12">
                            <label>Name</label>
                            <input v-model="state.contactName" class="form-control" placeholder="Enter Name" />
                            <label class="text-danger" v-text="state.errors.contactName"></label>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <label>Job Title</label>
                            <input v-model="state.contactJobTitle" class="form-control" placeholder="Enter Job Title" />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <label>Phone Number</label>
                            <input v-model="state.contactPhoneNumber" class="form-control" placeholder="Enter Phone Number" />
                        </div>
                        <div class="col-md-6">
                            <label>Email Address</label>
                            <input v-model="state.contactEmailAddress" class="form-control" placeholder="Enter Email Address" />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <label>Description</label>
                            <textarea v-model="state.contactDescription" class="form-control" rows="2"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn" v-bind:class="state.contactDeleteMode ? 'btn-danger' : 'btn-primary'" v-on:click="handler.handleContactSubmit" v-bind:disabled="state.isContactSubmitting">
                        <span class="spinner-border spinner-border-sm me-2" v-if="state.isContactSubmitting" role="status" aria-hidden="true"></span>
                        <span v-if="!state.isContactSubmitting">{{ state.contactDeleteMode ? 'Delete' : 'Save' }}</span>
                        <span v-else>{{ state.contactDeleteMode ? 'Deleting...' : 'Saving...' }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/FrontEnd/Pages/Customers/CustomerList.cshtml.js"></script>
}
